.Cart_container {
  display: none;

  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Cart_container.open {
  display: block;
}

.Cart_background {
  background-color: black;
  opacity: 0.2;

  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Cart {
  width: min(500px, 100%);
  height: 100%;
  padding: 2rem;
  background-color: white;
  position: absolute;
  z-index: 1;
  right: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.Cart_header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cart_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Cart_total-pricing {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.Cart_bottom button.main {
  width: 100%;
}
