.Dropdown {
  position: relative;
  user-select: none;
}

.Dropdown.open {
  z-index: 90;
}

.Dropdown_header {
  padding: 12px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

/* Arrow */
.Dropdown_header::after {
  content: '';
  display: block;
  position: absolute;
  width: 14px;
  height: 8px;
  background-image: url('../assets/dropdown-arrow.svg');
  background-size: 14px 8px;
  right: 12px;
  top: 17.5px;
  transition: all 0.3s ease-in-out;
}
.Dropdown.open .Dropdown_header::after {
  transform: rotate(-180deg);
}

.Dropdown_list {
  transform: translateY(-50%) scale(0);
  opacity: 0;
  list-style: none;
  border: solid 1px #bfbfbf;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 8px);
  transition: all 0.3s ease-in-out;
}

.Dropdown.open .Dropdown_list {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.Dropdown_list-item {
  padding: 12px;
  background-color: white;
  cursor: pointer;
}

.Dropdown_list-item:hover {
  background-color: #f4f4f4;
}
