.NavBar {
  background-color: #d9d9d9;
  padding: 1.25rem;
}

.NavBar_content {
  max-width: 1400px;
  margin: auto;

  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.NavBar_links {
  margin-left: auto;
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.NavBar_link {
  font-size: 18px;
  padding: 0.5rem;
}

.NavBar a {
  color: inherit;
  text-decoration: none;
}

.NavBarCart {
  position: relative;
  cursor: pointer;
}

.NavBarCart_items-number {
  font-size: 10px;
  color: white;
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 9px;

  display: grid;
  place-content: center;

  position: absolute;
  top: -6px;
  right: -6px;
}
