.ProductCard {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;

  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.ProductCard_img-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  justify-items: center;
  align-items: center;
}

.ProductCard_img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.ProductCard_text-wrapper {
  margin: 0 1rem;
}

.ProductCard_title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.ProductCard_interaction-wrapper {
  margin: 0 1rem 1rem;
}

.ProductCard_quantity-wrapper {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}

.ProductCard button {
  display: block;
  width: 100%;
}
